{% load static %} 
<body class="project-container">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <div class="navbar">
        <div class="title">My Anime</div>
        <ul class="navlinks">
            <li class="home">                                
                <a href="{% url 'main:home' %}">Home</a>
            </li>
            <li class="decide">
                <a href="{% url 'decider:temp' %}">Decide</a>
            </li>
            <li class="favorites">
                <a href="{% url 'favorites:add_favorite' %}">Favorites</a>
            </li>
        </ul>
    </div>
    <div class="pages">
        {% block content %}
        {% endblock %}
    </div>
</body>
